<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mongo Scraper</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/paper/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+SC" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/javascript/app.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Mongo Scraper</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active" id="homeButton">Home</a></li>
                <li><a href="/articles" id="articlesButton">Saved Articles</a></li>
                <li><a class="btn btn-danger scrape-new" id="scrapeButton">SCRAPE NEW ARTICLES!</a></li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron text-center">
        <div class="overlay">
        </div>
        <div class="background-image">
        </div>
        <div class="caption">
            <h1>Mongo Scraper</h1>
            <p>New York Times Edition</p>
        </div>
    </div>
    <div class="container-fluid article-container" id="articles">
    </div>

    <footer class="footer">
        <div class="container">
            <p>New York Times Mongo Scraper</p>
        </div>
    </footer>
    <!-- <script type="text/javascript">
        $("articlesButton").click(function(){
            event.preventDefault();
            
        })
    </script> -->
   
    
    <!-- ajax call to get the data-->
    <!-- console log the data -->
    <!-- for loop to append to div -->

</body>

</html>